# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#CCS shit
*.ccsproject
*.cdtproject
*.cdtbuild
*.project
*.cmd
*.ccxml
*.launches
*.settings
*.obj
*.out
*.map
Debug/*
.settings/*
.launches/*